<template>
  	<div class="register">
    	<register />
  	</div>
</template>
<script>
	import register from "@/components/auth/Register"

	export default {
	  	components: {
	    	register
	  	}
	}
</script>