<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
                <form
                    class="text-center border border-primary p-5"
                    style="margin-top:70px;height:auto;padding-top:100px !important;"
                    @submit.prevent="loginUser"
                >
                    <div class="form-group">
                        <input
                            type="text"
                            id="email"
                            class="form-control d-block"
                            placeholder="Email"
                            v-model="login.email"
                            aria-describedby="emailError"
                        />
                        <small id="emailError" class="form-text text-danger">{{ errors.email }}</small>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <input
                            type="password"
                            id="password"
                            class="form-control d-block"
                            placeholder="Password"
                            v-model="login.password"
                            aria-describedby="passwordError"
                        />
                        <small id="passwordError" class="form-text text-danger">{{ errors.password }}</small>
                    </div>
                    <p>
                        Dont have an account?<router-link to="/register"> click here</router-link>
                    </p>
                    <!-- Sign in button -->
                    <center>
                        <button class="btn btn-primary btn-block w-75 my-4" type="submit">
                            Sign in
                        </button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import swal from 'sweetalert'

    export default {
        data() {
            return {
                login: {
                    email: '',
                    password: ''
                },
                errors: {
                    email: null,
                    password: null
                }
            }
        },
        methods: {
            async loginUser() {
                try {
                    let response = await this.$http.post('/user/login', this.login)
                    let token    = response.data.token
                    localStorage.setItem('jwt', token)

                    if (token) {
                        swal('Success', 'Login Successful', 'success')
                        this.$router.push('/home')
                    }
                } catch (err) {
                    // swal('Error', 'Something Went Wrong', 'error')
                    this.errors.email    = err.response.data.errors.email
                    this.errors.password = err.response.data.errors.password
                }
            }
        }
    };
</script>